$imageBlackner: rgba(0,0,0,0.3);
$textShadow: 1px 1px 4px rgba(black, 0.8);
$orange: #fa9c5d;
$darkYellow:#fbd384;
$yellow: #f7e498;
$blue: #8dc9cd;
$darkBlue: #215e5d;
$textColor: white;
$infoTextColor: black;
$infoBackground: white;
$infoButton: #4F2AC3;